$primary-color: #fd6542;
$success-color: #56b586;
$white: #ffffff;
$cloud: #f3f7f9;
$black: #333333;

@font-face {
  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
}

body {
  font-family: 'Lato';
  background: $cloud;
  color: $black;

  .App {
    @media only screen and (max-width: 600px) {
      .container {
        padding: 0 20px;
      }
    }

    .container {
      max-width: 550px;
      margin: 20px auto 20px;
    }

    .title {
      font-weight: normal;
      text-align: center;
    }

    .subtitle {
      margin: 0 0 8px 0;
    }

    .info {
      justify-items: center;
      max-width: 530px;
      margin: 0 auto;

      p {
        margin: 0;
      }
    }

    .card {
      margin-top: 8px;
      background: $white;
      border-radius: 4px;
      padding: 10px 14px;
      display: flex;
      cursor: pointer;

      &.primary {
        border-left: 4px solid $primary-color;
      }

      &.success {
        border-left: 4px solid $success-color;
      }
    }

    .form-search {
      margin: 20px 0;
      display: flex;
      border: 1px solid #ced4da;
      background: $white;
      padding: 0 16px;
      border-radius: 4px;

      div:first-child {
        border-right: 1px solid #ced4da;
        flex: 1;
        display: flex;
        align-items: center;
      }

      input, select {
        font-family: "Lato";
        padding: 12px 6px;
        border: none;
        width: 100%;
      }

      input:focus, select:focus-visible {
        outline: none;
      }
    }
  }

  .text-primary {
    color: $primary-color;
  }

  .text-uppercase {
    text-transform: uppercase;
  }

  .text-capitalize {
    text-transform: capitalize;
  }

  .bank-name {
    span:first-child::after {
      content: " ➔ ";
    }
  }

  .description {
    span:first-child::after {
      content: " • ";
    }
  }

  .btn {
    font-family: 'Lato';
    padding: 6px 10px;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
  }

  .btn-primary {
    background: transparent;
    border: 1px solid $primary-color;
  }

  .btn-success {
    color: $white;
    background: $success-color;
    border: 1px solid $success-color;
  }

  .btn-outline-primary {
    background: transparent;
    color: $primary-color;
    border: 1px solid $primary-color;
  }

  .card-detail-info {
    margin-top: 8px;
    background: $white;
    border-radius: 4px;
    padding: 16px;
    display: flex;

    .detail-info {
      margin-bottom: 16px;

      h5 {
        text-transform: capitalize;
        margin: 0;
      }
    }
  }

}
